#Kalkulator_kredytowy{
    text-align: center;
    color: goldenrod ;
    font-size:xx-large;
     font-family:"Century Gothic";
}
#form{

    text-align: center; 
    font-family: Century Gothic;
}

.wpis{
    font-size:large;
    font-family:"Century Gothic";
}

.napis{
    text-align: center;
    color: rgb(56, 57, 58) ;
    font-size:xx-large;
    font-family:"Century Gothic";

}
#button{

    width: 200px;
    height: 60px;
    background-color: tomato;
    font-weight: 350;
    font-size:xx-large;
}